<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <label>UUID
        <input name="uuid" type="text" placeholder="UUID"
            value="<%= record.uuid ? record.uuid : 'UUID' %>"
            required
            pattern="^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}$"
            <% if(form.intent !== 'create'){ %>
            disabled="disabled"
            <%}%>
        />
    </label>
    <label>Name
        <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : '' %>" required/>
    </label>
    <label>Description
        <input name="description" type="text" placeholder="Description"  value="<%= record.description ? record.description : '' %>"/>
    </label>
    <% if(record.id){%>
        <input hidden="true" name="id" value="<%= record.id %>" required/>
    <%}%>
    <button id="submit" class="success expand radius">Send</button>
</form>
