<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <label>UUID
        <input name="uuid" type="text" placeholder="UUID"
            value="<%= record.uuid ? record.uuid : 'UUID' %>"
            required
            pattern="^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}$"
            <% if(form.intent !== 'create'){ %>
            disabled="disabled"
            <%}%>
        />
    </label>
    <label>Name
        <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : '' %>" required/>
    </label>
    <label>Description
        <input name="description" type="text" placeholder="Description"  value="<%= record.description ? record.description : '' %>"/>
    </label>
    <label>Parent
        <select name="parent"  value="<%= record.parent ? record.parent.id : '' %>">
            <% if (!record.parent) {%>
            <option value="">Not assigned</option>
            <% } %>
        </select>
    </label>

    <label>Floorplan
        <select name="floorplan"  value="<%= record.floorplan ? record.floorplan.id : '' %>">
            <% if (!record.floorplan) {%>
            <option value="">Not assigned</option>
            <% } %>
        </select>
    </label>

    <% if(record.id){%>
        <input hidden="true" name="id" value="<%= record.id %>" required/>
    <%}%>
    <button id="submit" class="success expand radius">Send</button>
</form>

<script type="text/javascript">
function populateOption(name, selector){
    io.socket.get('/' + name, function(data, jwres){
        console.log(data);
        data = data || {records:[]};
        var $sel = $('[name="' + selector + '"]'),
            index = 0,
            active = $sel.attr('value');
        data.records.map(function(record){
            $sel.append('<option value="' + record.id + '">' + record.name + '</option>');
            if(active === ('' + record.id)) $sel.prop('selectedIndex', index);
            index++;
        });

    });
}

populateOption('location?limit=1000', 'parent');
populateOption('files?limit=1000', 'floorplan');
</script>
