<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <div class="row">
        <div class="large-12 columns">
            <label>UUID
                <input name="uuid" type="text" placeholder="UUID" value="<%= record.uuid ? record.uuid : 'UUID' %>"/>
            </label>
        </div>
        <div class="large-12 columns">
            <label>Name
                <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : 'Name' %>"/>
            </label>
        </div>
        <div class="large-12 columns">
            <label>Description
                <input name="description" type="text" placeholder="Description"  value="<%= record.description ? record.description : 'Description' %>"/>
            </label>
        </div>
        <!--div class="large-12 columns">
            <label>Devices
                <select name="location"  value="<%= record.device %>">
                    <option value="1">NY15</option>
                    <option value="2">NY09</option>
                    <option value="3">LND01</option>
                </select>
            </label>
        </div-->
    </div>
    <% if(record.id){%>
    <input hidden="true" name="id" value="<%= record.id %>" />
    <%}%>
    <button id="submit" class="success expand radius">Send</button>
</form>
