<% include ../_header.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <div class="clearfix">
            <h3 class="left">Location</h3>

            <a href="/<%= nicename %>/<%= record.id %>/devices"
                <%= record.floorplan ? '' : ' disabled ' %>
                class="button secondary tiny radius right <%= record.floorplan ? '' : 'disabled'%>">
                <i class="fi-map size-12"></i> Location Devices
            </a>
        </div>
        <%if(status === "Error") { %>
        <div class="alert alert-danger" role="alert"><%=statusDescription%></div>
        <% } %>
        <% include _form.ejs %>
    </div>
</div>
