<% include ../_header.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Locations</h3>
        <table>
          <thead>
            <tr>
              <th width="400">UUID</th>
              <th>Name</th>
              <th width="250">Description</th>
              <th width="150">QR Code</th>
            </tr>
          </thead>
          <tbody>
              <% records.map(function(record){%>
                  <tr>
                      <td>
                          <a href="/<%= nicename %>/<%= record.id %>">
                              <%= record.uuid %>
                          </a>
                      </td>
                      <td><%= record.name %></td>
                      <td><%= record.description %></td>
                      <td><img class="location qr-code" src="/images/qrs/<%=record.uuid%>.png"/></td>
                  </tr>
              <%});%>
          </tbody>
        </table>
        <ul id="table-pagination" class="pagination" role="menubar">
        </ul>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
    </div>
</div>
<script type="text/javascript">
function buildPagination(){
    io.socket.get('/location/count', function(data){
        console.log('HERE', data);
        var previous = '<li class="arrow"><a href="#LINK#">&laquo; Previous</a></li>',
            next = '<li class="arrow"><a href="#LINK#">Next &raquo;</a></li>'

        if(data.count){
            var query = getQueryString(),
                cursor = parseInt(query.skip) || 0,
                step = data.step,
                total = data.count / step,
                buffer = [],
                index = 0,
                pages = '';

            for(var i = 0; i < total; i++){
                index = i * step;
                buffer.push('<li' + (index === cursor ? ' class="current"' : '') + '><a href="?skip=' + index + '">' + (i + 1) + '</a></li>');
            }

            //TODO: we should have a window around the current item.
            if(buffer.length > 20){
                buffer = (buffer.slice(0, 5)).concat(buffer.slice(-5));
                buffer.splice(5, 0, '<li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>');
            }

            pages = buffer.join('');
            

            if(cursor > 0){
                previous = previous.replace('#LINK#', '/location?skip=' + (cursor - step));
                pages = previous + pages;
            }
            if(cursor < data.count){
                next = next.replace('#LINK#', '/location?skip=' + (cursor + step));
                pages += next; 
            }


            $('#table-pagination').html(pages);
        }
    });
}
buildPagination();

function getQueryString() {
  var result = {}, queryString = location.search.slice(1),
      re = /([^&=]+)=([^&]*)/g, m;

  while (m = re.exec(queryString)) {
    result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
  }

  return result;
}
</script>
