<% include ../_header.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Locations</h3>
        <table>
          <thead>
            <tr>
              <th width="400">UUID</th>
              <th>Name</th>
              <th width="250">Description</th>
              <th width="150">QR Code</th>
            </tr>
          </thead>
          <tbody>
              <% records.map(function(record){%>
                  <tr>
                      <td>
                          <a href="/<%= nicename %>/<%= record.id %>">
                              <%= record.uuid %>
                          </a>
                      </td>
                      <td><%= record.name %></td>
                      <td><%= record.description %></td>
                      <td><img class="location qr-code" src="/images/qrs/<%=record.uuid%>.png"/></td>
                  </tr>
              <%});%>
          </tbody>
        </table>
        <ul class="pagination" role="menubar" aria-label="Pagination">
          <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
          <li class="current[inactivated]"><a href="?skip=0">1</a></li>
          <li><a href="?skip=5">2</a></li>
          <li><a href="?skip=10">3</a></li>
          <li><a href="?skip=15">4</a></li>
          <!--% <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>%-->
          <li><a href="?skip=20">5</a></li>
          <li><a href="?skip=25">6</a></li>
          <li><a href="?skip=30">7</a></li>
          <li><a href="?skip=35">8</a></li>
          <li class="arrow"><a href="">Next &raquo;</a></li>
        </ul>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
    </div>
</div>
