<script src="/vendors/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendors/codemirror/addon/selection/active-line.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/vendors/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/vendors/codemirror/addon/fold/foldgutter.css" />
<link rel="stylesheet" href="/vendors/codemirror/theme/tomorrow-night-eighties.css" />

<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <label>UUID
        <input name="uuid" type="text" placeholder="UUID"
            value="<%= record.uuid ? record.uuid : 'UUID' %>"
            required
            pattern="^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}$"
            <% if(form.intent !== 'create'){ %>
            disabled="disabled"
            <%}%>
        />
    </label>

    <label>Name
        <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : '' %>"/>
    </label>
    <label>Asset Tag
        <input name="assetTag" type="text" placeholder="Asset Tag" value="<%= record.assetTag ? record.assetTag : '' %>"/>
    </label>
    <label>Alias
        <input name="alias" type="text" placeholder="Alias" value="<%= record.alias ? record.alias : '' %>"/>
    </label>
    <label>Description
        <input name="description" type="text" placeholder="Description"  value="<%= record.description ? record.description : '' %>"/>
    </label>
    <label>Manufacturer
        <input name="manufacturer" type="text" placeholder="Manufacturer"  value="<%= record.manufacturer ? record.manufacturer : '' %>"/>
    </label>
    <label>Model
        <input name="model" type="text" placeholder="Model"  value="<%= record.model ? record.model : '' %>"/>
    </label>
    <label>Status
        <select name="status"  value="<%= record.status ? record.status : 'unknown' %>">
            <option value="unknown">Unknown</option>
            <option value="not_inuse">Not In Use</option>
            <option value="inuse">In Use</option>
            <option value="online">Online</option>
            <option value="offline">Offline</option>
            <option value="unavailable">Unavailable</option>
            <option value="operative">Operative</option>
        </select>
    </label>
    <label>Type
        <select name="type"  value="<%= record.type ? record.type.id : '' %>">
            <% if (!record.type) {%>
            <option value="">Not assigned</option>
            <% } %>
        </select>
    </label>
    <label>Location
        <select name="location"  value="<%= record.location ? record.location.id : '' %>">
            <% if (!record.location) {%>
            <option value="">Not assigned</option>
            <% } %>
        </select>
    </label>

    <label>Metadata
        <textarea id="metadata" name="metadata"><%= record.metadata ? JSON.stringify(record.metadata, null, 4) : '' %></textarea>
    </label>

    <label>Configuration
        <textarea id="configuration" name="data"><%= record.configuration ? JSON.stringify(record.configuration.data, null, 4) : '' %></textarea>
    </label>
    <br/>

<% if(record.id){%>
<input hidden="true" name="id" value="<%= record.id %>" />
<%}%>
<button id="submit" class="success expand radius">Send</button>
</form>
        <!--code>
            < % = JSON.stringify(record) % >
        </code-->
<script type="text/javascript">
function populateOption(name, selector){
    io.socket.get('/' + name, function(data, jwres){
        console.log(data);
        data = data || {records:[]};
        var $sel = $('[name="' + selector + '"]'),
            index = 0,
            active = $sel.attr('value');
        data.records.map(function(record){
            $sel.append('<option value="' + record.id + '">' + record.name + '</option>');
            if(active === ('' + record.id)) $sel.prop('selectedIndex', index);
            index++;
        });

    });
}
populateOption('devicetype?limit=1000', 'type');
populateOption('location?limit=1000', 'location');

$('[name="status"]').val("<%= record.status%>");

</script>
<script type="text/javascript">
$(document).ready(function () {
    CodeMirror.commands.autocomplete = function(cm) {
        CodeMirror.showHint(cm, CodeMirror.hint.javascript);
    };
    // var code = "<%= record.configuration && record.configuration.data ? JSON.stringify(record.data) : '' %>";
    window.codemirror1 = CodeMirror.fromTextArea($('#configuration')[0], {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {'Ctrl-Space': 'autocomplete'},
        theme: 'tomorrow-night-eighties'
        // foldGutter: {
        //     rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
        // },
        // gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
    });

    // var code = "<%= record.data ? JSON.stringify(record.data) : '' %>";
    window.codemirror2 = CodeMirror.fromTextArea($('#metadata')[0], {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {'Ctrl-Space': 'autocomplete'},
        theme: 'tomorrow-night-eighties'
        // foldGutter: {
        //     rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
        // },
        // gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
    });
});
</script>
