<% include ../_header.ejs %>
<% include ../_file-upload.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Devices</h3>
        <dl class="sub-nav">
            <dt>Filter:</dt>
            <dd class="active-implement"><a href="/<%= nicename %>">All</a></dd>
        </dl>
        <table>
            <thead>
                <tr>
                    <th width="350">UUID</th>
                    <!--th width="150">Name</th-->
                    <th width="150">Model</th>
                    <th width="150">Asset Tag</th>
                    <th width="150">Alias</th>
                    <th width="250">Description</th>
                    <th width="150">Location</th>
                    <th width="150">Type</th>
                    <th width="150">QR Code</th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                <% records.map(function(record){%>
                    <tr id="record-<%= record.id %>">
                        <td>
                            <a href="/<%= nicename %>/<%= record.id %>">
                                <%= record.uuid %>
                            </a>
                        </td>
                        <!--td>
                            <%= record.name %>
                        </td-->
                        <td>
                            <%= record.type ? record.type.model : '---' %>
                        </td>
                        <td>
                            <%= record.assetTag %>
                        </td>
                        <td>
                            <%= record.deviceId ? record.deviceId : '---' %>
                        </td>
                        <td>
                            <%= record.description %>
                        </td>
                        <td>
                            <% if(record.location){ %>
                                <a class="location" href="/location/<%= record.location.id %>">
                                    <%= record.location.name %>
                                </a>
                            <% } else { %>
                                ---
                            <%}%>
                        </td>
                        <td>
                            <%= record.type ? record.type.name : '---' %>
                        </td>
                        <td><img class="device qr-code" src="/images/qrs/<%=record.uuid%>.png" /></td>
                        <td>
                            <a href="#" class="">Edit</a>
                            <a href="#" class="">Delete</a>
                        </td>
                    </tr>
                    <%});%>
            </tbody>
        </table>
        <ul id="table-pagination" class="pagination" role="menubar">
        </ul>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
        <a href="#" data-reveal-id="csv-modal" class="button">CSV</a>
    </div>
</div>
<script type="text/javascript">
function populateOption(name, selector){
    io.socket.get('/' + name, function(data, jwres){
        console.log(data)
        data = data || {records:[]};
        data.records.map(function(record){
            var value = '<dd><a href=\'/<%= nicename %>?where={"type":' + record.id;
            value += '}\'>'+ record.name+'</a></dd>'
            $(selector).append(value);
        });
    });
}
populateOption('devicetype', '.sub-nav');

io.socket.on('/things/pair/true', function(payload){
    var context = '#record-' + payload.device.id;
    var selector = 'a.location';
    var href = '/location/' + payload.location.id;

    console.log('THINGS UPDATED!', payload);
    console.log('THINGS UPDATED!', selector, context, href);

    $(selector, context).attr('href', href);
    $(selector, context).html(payload.location.name + ': ' + payload.location.description);
});

function buildPagination(){
    io.socket.get('/device/count', function(data){
        console.log('HERE', data);
        var previous = '<li class="arrow"><a href="#LINK#">&laquo; Previous</a></li>',
            next = '<li class="arrow"><a href="#LINK#">Next &raquo;</a></li>'

        if(data.count){
            var query = getQueryString(),
                cursor = parseInt(query.skip) || 0,
                step = data.step,
                total = data.count / step,
                buffer = [],
                index = 0,
                pages = '';

            if(data.count < step) return;

            for(var i = 0; i < total; i++){
                index = i * step;
                buffer.push('<li' + (index === cursor ? ' class="current"' : '') + '><a href="?skip=' + index + '">' + (i + 1) + '</a></li>');
            }

            //TODO: we should have a window around the current item.
            if(buffer.length > 20){
                buffer = (buffer.slice(0, 5)).concat(buffer.slice(-5));
                buffer.splice(5, 0, '<li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>');
            }

            pages = buffer.join('');


            if(cursor > 0){
                previous = previous.replace('#LINK#', '/device?skip=' + (cursor - step));
                pages = previous + pages;
            }
            if(cursor < data.count){
                next = next.replace('#LINK#', '/device?skip=' + (cursor + step));
                pages += next;
            }


            $('#table-pagination').html(pages);
        }
    });
}
buildPagination();

function getQueryString() {
  var result = {}, queryString = location.search.slice(1),
      re = /([^&=]+)=([^&]*)/g, m;

  while (m = re.exec(queryString)) {
    result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
  }

  return result;
}
</script>
