<% include ../_header.ejs %>
<% include ../_file-upload.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Devices</h3>
        <dl class="sub-nav">
            <dt>Filter:</dt>
            <dd class="active-implement"><a href="/<%= nicename %>">All</a></dd>
        </dl>
        <table>
            <thead>
                <tr>
                    <th width="350">UUID</th>
                    <!--th width="150">Name</th-->
                    <th width="150">Model</th>
                    <th width="150">Asset Tag</th>
                    <th width="150">Alias</th>
                    <th width="250">Description</th>
                    <th width="150">Location</th>
                    <th width="150">Type</th>
                    <th width="150">QR Code</th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                <% records.map(function(record){%>
                    <tr id="record-<%= record.id %>">
                        <td>
                            <a href="/<%= nicename %>/<%= record.id %>">
                                <%= record.uuid %>
                            </a>
                        </td>
                        <!--td>
                            <%= record.name %>
                        </td-->
                        <td>
                            <%= record.model %>
                        </td>
                        <td>
                            <%= record.assetTag %>
                        </td>
                        <td>
                            <%= record.alias ? record.alias : '---' %>
                        </td>
                        <td>
                            <%= record.description %>
                        </td>
                        <td>
                            <% if(record.location){ %>
                                <a class="location" href="/location/<%= record.location.id %>">
                                    <%= record.location.name %>
                                </a>
                            <% } else { %>
                                ---
                            <%}%>
                        </td>
                        <td>
                            <%= record.type ? record.type.name : '---' %>
                        </td>
                        <td><img class="device qr-code" src="/images/qrs/<%=record.uuid%>.png" /></td>
                        <td>
                            <a href="#" class="">Edit</a>
                            <a href="#" class="">Delete</a>
                        </td>
                    </tr>
                    <%});%>
            </tbody>
        </table>
        <ul class="pagination" role="menubar" aria-label="Pagination">
          <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
          <li class="current[inactivated]"><a href="?skip=0">1</a></li>
          <li><a href="?skip=5">2</a></li>
          <li><a href="?skip=10">3</a></li>
          <li><a href="?skip=15">4</a></li>
          <!--% <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>%-->
          <li><a href="?skip=20">5</a></li>
          <li><a href="?skip=25">6</a></li>
          <li><a href="?skip=30">7</a></li>
          <li><a href="?skip=35">8</a></li>
          <li class="arrow"><a href="">Next &raquo;</a></li>
        </ul>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
        <a href="#" data-reveal-id="csv-modal" class="button">CSV</a>
    </div>
</div>
<script type="text/javascript">
function populateOption(name, selector){
    io.socket.get('/' + name, function(data, jwres){
        console.log(data)
        data = data || {records:[]};
        data.records.map(function(record){
            var value = '<dd><a href=\'/<%= nicename %>?where={"type":' + record.id;
            value += '}\'>'+ record.name+'</a></dd>'
            $(selector).append(value);
        });
    });
}
populateOption('devicetype', '.sub-nav');

io.socket.on('/things/pair/true', function(payload){
    var context = '#record-' + payload.device.id;
    var selector = 'a.location';
    var href = '/location/' + payload.location.id;

    console.log('THINGS UPDATED!', payload);
    console.log('THINGS UPDATED!', selector, context, href);

    $(selector, context).attr('href', href);
    $(selector, context).html(payload.location.name + ': ' + payload.location.description);
});
</script>
