<% include ../_header.ejs %>

<div class="content">
    <div class="row">
        <h3>Devices</h3>
        <table>
          <thead>
            <tr>
              <th width="350">UUID</th>
              <th>Name</th>
              <th width="150">Description</th>
              <th width="150">Location</th>
              <th width="150">Type</th>
            </tr>
          </thead>
          <tbody>
              <% records.map(function(record){%>
                  <tr>
                      <td>
                          <a href="/<%= nicename %>/<%= record.id %>">
                              <%= record.uuid %>
                          </a>
                      </td>
                      <td><%= record.name %></td>
                      <td><%= record.description %></td>
                      <td><%= record.location ? record.location.name : '---' %></td>
                      <td><%= record.type ? record.type.name : '---' %></td>
                  </tr>
              <%});%>
          </tbody>
        </table>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
    </div>
</div>
