
<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>" enctype="application/x-www-form-urlencoded">
    <label>Name
        <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : '' %>" required/>
    </label>
    <label>Description
        <input name="description" type="text" placeholder="Description"  value="<%= record.description ? record.description : '' %>"/>
    </label>
    <label>Label
        <input name="label" type="text" placeholder="Label"  value="<%= record.label ? record.label : '' %>"/>
    </label>
    <label>Manufacturer
        <input name="manufacturer" type="text" placeholder="Manufacturer"  value="<%= record.manufacturer ? record.manufacturer : '' %>"/>
    </label>
    <label>Model
        <input name="model" type="text" placeholder="Model"  value="<%= record.model ? record.model : '' %>"/>
    </label>
    <label>Metadata
        <textarea name="metadata"><%= record.metadata ? JSON.stringify(record.metadata) : '' %></textarea>
    </label>
    <% if(record.id){%>
        <input hidden="true" name="id" value="<%= record.id %>" />
    <%}%>
    <button id="submit" class="success expand radius">Send</button>
</form>
<!--code>
    < % = JSON.stringify(record, null, 4) %>
</code -->
<%= record.data ? JSON.stringify(record.data) : '' %>
