

<script src="/vendors/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendors/codemirror/addon/selection/active-line.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/vendors/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/vendors/codemirror/addon/fold/foldgutter.css" />
<link rel="stylesheet" href="/vendors/codemirror/theme/tomorrow-night-eighties.css" />

<!-- add Javascript-mode dependencies -->
<script src="/vendors/codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>

<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <label>UUID
        <input name="uuid" type="text" placeholder="UUID"
            value="<%= record.uuid ? record.uuid : '' %>"
            required
            pattern="^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}$"
            <% if(form.intent !== 'create'){ %>
            disabled="disabled"
            <%}%>
        />
    </label>

    <label>Name
        <input name="name" type="text" placeholder="Name" value="<%= record.name ? record.name : '' %>"/>
    </label>
    <label>Version
        <input name="version" type="text" placeholder="Version" value="<%= record.assetTag == null ? 0 : record.assetTag %>"/>
    </label>
    <label>Description
        <input name="description" type="text" placeholder="Description" value="<%= record.description ? record.description : '' %>"/>
    </label>

    <div class="row">
        <div class="large-10 small-9 columns">
            <label>Device
                <select name="device"  value="<%= record.device ? record.device : '' %>">
                    <% if (!record.device) {%>
                    <option value="">Not assigned</option>
                    <% } %>
                </select>
            </label>
        </div>
        <div class="large-2 small-1 columns">
                <a href="/device/deployed/<%= record.device.id %>" data-reveal-id="csv-modal"
                    class="button tiny radius right expand bottom-button <%= record.device ? '' : ' disabled'%>">
                    <i class="fi-link size-12"></i> Show Device
                </a>
        </div>
    </div>

    <label>Metadata
        <textarea id="data" name="data"><%= record.data ? JSON.stringify(record.data, null, 4) : '' %></textarea>
    </label>
    <br/>

    <% if(record.id){%>
    <input hidden="true" name="id" value="<%= record.id %>" />
    <%}%>

    <button id="submit" class="success expand radius">Send</button>
</form>


<script type="text/javascript">
function populateOption(endpoint, selector){
    io.socket.get(endpoint, function(data, jwres){
        console.log(data);
        data = data || {records:[]};
        var $sel = $('[name="' + selector + '"]'),
            index = 0,
            active = $sel.attr('value');

        data.records.map(function(record){
            console.log('CREATE OPTION FOR', selector, record.name);
            $sel.append('<option value="' + record.id + '">' + record.nicename + '</option>');
            if(active === ('' + record.id)) $sel.prop('selectedIndex', index);
            index++;
        });

    });
}
populateOption('/device/deployed?limit=1000', 'device');
</script>

<script type="text/javascript">
$(document).ready(function () {
    CodeMirror.commands.autocomplete = function(cm) {
        CodeMirror.showHint(cm, CodeMirror.hint.javascript);
    };
    var code = "<%= record.data ? JSON.stringify(record.data) : '' %>";
    window.codemirror1 = CodeMirror.fromTextArea($('#data')[0], {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: {'Ctrl-Space': 'autocomplete'},
        theme: 'tomorrow-night-eighties'
        // foldGutter: {
        //     rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
        // },
        // gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
    });
});
</script>
