<% include ../_header.ejs %>
<% include ../_file-upload.ejs %>

<div class="content row">
    <div class="large-12 large-centered small-11 small-centered columns">
        <h3>Configurations</h3>
        <dl class="sub-nav">
            <dt>Filter:</dt>
            <dd class="active-implement"><a href="/<%= nicename %>">All</a></dd>
        </dl>
        <table>
            <thead>
                <tr>
                    <th width="150">Name</th>
                    <th width="150">Version</th>
                    <th width="150">Description</th>
                    <th width="250">Device</th>
                    <th width="250">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% records.map(function(record){%>
                    <tr id="record-<%= record.id %>">
                        <td>
                            <a href="/<%= nicename %>/<%= record.id %>">
                                <%= record.name %>
                            </a>
                        </td>

                        <td>
                            <%= record.version %>
                        </td>
                        <td>
                            <%= record.description %>
                        </td>
                        <td>
                            <% if(record.device){ %>
                                <a class="device" href="/location/<%= record.device.id %>">
                                    <%= record.device.name %>: <%= record.device.description %>
                                </a>
                            <% } else { %>
                                ---
                            <%}%>
                        </td>
                        <td>
                            <a href="/<%= nicename %>/<%= record.id %>" class="">Edit</a>
                            <a href="/<%= nicename %>/delete/<%= record.id %>" class="">Delete</a>
                        </td>
                    </tr>
                    <%});%>
            </tbody>
        </table>
        <a href="/<%= nicename %>/new" class="button success">Add Record</a>
    </div>
</div>
