<form id="menagerie" action="<%= form.action %>" method="<%= form.method %>">
    <label>UUID
        <input name="uuid" type="text" placeholder="UUID"
            value="<%= record.uuid ? record.uuid : 'UUID' %>"
            required
            pattern="^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}$"
            <% if(form.intent !== 'create'){ %>
            disabled="disabled"
            <%}%>
        />

    <label>State
        <select name="state"  value="<%= record.state ? record.state : 'unseen' %>">
            <option value="unseen">Unseen</option>
            <option value="online">Online</option>
            <option value="offline">Offline</option>
        </select>
    </label>
    <label>Location
        <select name="location"  value="<%= record.location ? record.location.id : '' %>">
            <% if (!record.location) {%>
            <option value="">Not assigned</option>
            <% } %>
        </select>
    </label>
    <br/>

<% if(record.id){%>
<input hidden="true" name="id" value="<%= record.id %>" />
<%}%>
<button id="submit" class="success expand radius">Send</button>
</form>
        <!--code>
            < % = JSON.stringify(record) % >
        </code-->
<script type="text/javascript">
function populateOption(name, selector){
    io.socket.get('/' + name, function(data, jwres){
        console.log(data);
        data = data || {records:[]};
        var $sel = $('[name="' + selector + '"]'),
            index = 0,
            active = $sel.attr('value');
        data.records.map(function(record){
            $sel.append('<option value="' + record.id + '">' + record.name + '</option>');
            if(active === ('' + record.id)) $sel.prop('selectedIndex', index);
            index++;
        });

    });
}

populateOption('location?limit=1000', 'location');

$('[name="status"]').val("<%= record.status%>");
</script>
